@tailwind base;
@tailwind components;
@tailwind utilities;

li {
    margin: 5px;
}

h1 {
    font-family: 'Saira Condensed', sans-serif;
    text-transform: uppercase;
}

p, li {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: underline;
    text-decoration-color: black;
        
}


